* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    height: 100%;
    overflow: auto; /* Allow proper scrolling */
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 100vh;
}

.container {
    max-width: 700px;
    width: 100%;
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 15px; /* Reduced padding */
    margin: 10px 0; /* Reduced margin */
    animation: fadeIn 0.5s ease-in-out;
    padding-top: 2520vh;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

.question {
    margin-bottom: 20px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.question:hover {
    transform: translateY(-5px);
}

.question h2 {
    margin-top: 10px; /* Ensure top margin is minimal */
    margin-bottom: 15px;
    font-size: 1.4em;
    color: #4a4a4a;
}

.question:first-child {
    margin-top: 0; /* Ensure first question has no extra top margin */
}

.question-image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.answer {
    display: flex;
    align-items: center;
    background: white;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s, border-color 0.3s;
    cursor: pointer;
    position: relative;
}

.answer:hover {
    border-color: #007BFF;
    background-color: #f0f8ff;
}

input[type="radio"] {
    margin-right: 10px;
}

input[type="radio"]:checked + label {
    background-color: #f0f8ff;
}

.correct {
    background-color: #d4edda !important;
    border-color: #28a745 !important;
}

.incorrect {
    background-color: #f8d7da !important;
    border-color: #dc3545 !important;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

#result {
    margin-top: 30px;
    font-size: 1.5em;
    color: #333;
    text-align: center;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
